<!DOCTYPE html>
<html class="whole-page">
  <head>
    <title>Frank's CV</title>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <!--<div *ngIf="selected[0] && !selected[1]" class="overlay">-->
        <!--<div class="overlay-content">-->
          <!--<h2 class="alert alert-light">Wil je naar een andere pagina gaan?</h2>-->
          <!--<button (click)="doeIets(1)" (click)="navigate()">verder</button>-->
          <!--<button (click)="doeIets(0)">terug</button>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div *ngIf="selected[1]"class="overlay">-->
        <!--<div class="overlay-content">-->
          <!--<div class="grid">-->
            <!--<div class="box a">A</div>-->
            <!--<div class="box b">B</div>-->
            <!--<div class="box c">C</div>-->
            <!--<div class="box d">D</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div *ngIf="!selected[0]" class="overlay">
        <div class="overlay-content">
      <main>
        <div class="cv_item">
          <h2>Welkom op de interactieve CV van Frank Floris</h2>
          <div>
            <p>
              Hier vind je de CV van Frank Floris.<br>
              Daarnaast kan je een indruk krijgen van een aantal programma's die ik heb gecodeerd.<br>
              Informatie over wat voor persoon ik ben en wat mijn hobbies zijn kan je ook op deze pagina vinden.<br>
            </p>
          </div>
        </div>

        <div class="cv_item">
          <h2>Probeer hier mijn nieuwste game uit:</h2>
          <div>
            <p>UNDER CONSTRUCTION!</p>
          </div>

        </div>


      </main>
        </div>
      </div>

    </div>
  </body>

</html>

